/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

span {
  padding: 0;
  margin: 0;
}

/*--------------------------------------*
 * breakpoint media query
 *--------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Montserrat", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 100%;
  color: #fff;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

.l-header {
  width: 100%;
  height: 90px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 100;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-header__logo {
  margin: 28px 30px;
}

.l-footer {
  width: 100%;
  background-color: #141414;
  padding: 70px 0;
  text-align: center;
}

.c-section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.c-section__heading {
  margin-bottom: 60px;
}

.c-sectionTtl {
  font-size: 6rem;
  font-weight: bold;
  color: #d136d1;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.c-sectionTtl--big {
  font-size: 6.7rem;
}

.c-sectionTtl__sub {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.05em;
  margin-top: 10px;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.l-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.c-btn {
  display: inline-block;
  width: 300px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
  letter-spacing: 0.08em;
  line-height: 1.25;
  padding: 26px 0;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 0 #dd118e;
          box-shadow: 0 10px 0 #dd118e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-btn:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 6px 0 #dd118e;
          box-shadow: 0 6px 0 #dd118e;
}

.c-btn--small {
  width: 230px;
  padding: 20px 0;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.c-card:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-card__content {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.c-card__hedding {
  margin-bottom: 41px;
}

.c-card__ttl {
  font-size: 4.1rem;
  color: #d136d1;
  letter-spacing: 0.065em;
  padding-top: 2px;
}

.c-card__ttlJp {
  display: block;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.2em;
  margin-top: 7px;
}

.c-card__txt {
  font-size: 1.6rem;
  line-height: 1.8;
}

.c-card__imgWrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40%;
}

.c-card__img {
  height: 460px;
  -o-object-fit: contain;
     object-fit: contain;
}

.c-form {
  padding: 85px 85px 90px;
  border: 5px solid #d136d1;
  border-radius: 20px;
}

.c-form__item {
  margin-bottom: 36px;
}

.c-form__ttl {
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
}

.c-form__ttl--mb5 {
  margin-bottom: 5px;
}

.c-form__require {
  font-size: 12px;
  font-weight: bold;
  color: #d136d1;
  margin-left: 10px;
}

.c-form__radio {
  font-size: 1.6em;
  font-weight: bold;
}

.c-form__input,
.c-form__textarea {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  padding-left: 16px;
  border-radius: 6px;
}

.c-form__input {
  width: 300px;
  height: 40px;
}

.c-form__note {
  font-size: 1.2rem;
  margin-left: 12px;
}

.c-form__textarea {
  width: 600px;
  height: 255px;
  padding-top: 16px;
  padding-right: 16px;
}

.c-form__select {
  width: 300px;
  height: 40px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  padding-left: 16px;
  border-radius: 6px;
}

.c-copyright {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1.2857;
}

.c-logo {
  font-size: 2.8rem;
  font-weight: bold;
  color: #d136d1;
  text-transform: uppercase;
  line-height: 1.285;
}

.c-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

.c-nav__item {
  margin-right: 30px;
}

.c-nav__link {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.125;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-nav__link:hover {
  color: #d136d1;
}

.c-pageTop {
  width: 80px;
  height: 80px;
  text-align: center;
  background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 45px;
  z-index: 100;
}

.c-pageTop__icon {
  font-size: 40px;
  padding: 20px;
}

.p-about {
  background-color: #141414;
}

.p-about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-about__imgWrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40%;
}

.p-about__img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-about__content {
  width: 100%;
  font-weight: bold;
  padding-top: 90px;
  padding-left: 70px;
}

.p-about__ttlLabel {
  font-size: 2.4rem;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.p-about__ttl {
  font-size: 4.8rem;
  letter-spacing: 0.13em;
  line-height: 1.333;
  color: #d136d1;
  margin-bottom: 41px;
}

.p-about__txt {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 15px;
}

.p-about__table {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 18px;
}

.p-about__table th {
  padding: 0 14px 0 0;
}

.p-about__table td {
  padding: 0;
  border-bottom: none;
}

.p-mv {
  width: 100%;
  background: linear-gradient(135deg, #0f002e 0%, #1e092b 23%, #320c65 49%, #a01b7c 80%, #c21780 100%);
}

.p-mv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 700px;
  background-image: url(../../../img/mv.png);
  background-repeat: no-repeat;
  background-position: right -34px bottom;
  background-size: 560px 736px;
}

.p-mv__ttlArea {
  margin-top: 145px;
}

.p-mv__subTtl {
  font-size: 2.4rem;
  font-weight: bold;
  color: #d136d1;
  letter-spacing: 0.05em;
  line-height: 1.167;
}

.p-mv__ttl {
  font-size: clamp(3rem, 10vw, 10rem);
  font-weight: bold;
  letter-spacing: 0.016em;
  line-height: 1.06;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 5px;
  position: relative;
}

.p-mv__ttl::after {
  display: block;
  content: "";
  width: 326px;
  height: 68px;
  position: absolute;
  right: 66px;
  bottom: -74px;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  background-image: url(../../../img/teiji-de-kaerumon.svg);
  background-size: contain;
}

.p-mv-date {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.07em;
}

.p-mv__btn {
  margin-top: 26px;
}

.p-mv__speaker {
  position: absolute;
  right: -20px;
  bottom: 20px;
}

.p-mv__speakerName {
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.p-mv__speakerName--small {
  font-size: 1.6rem;
  font-weight: bold;
}

.p-mv__speakerName--label {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin-top: 5px;
}

.p-registor {
  width: 100%;
  background-image: url(../../../img/bg.jpg);
  background-repeat: repeat;
  padding-top: 93px;
}

.p-registor__form {
  margin-left: 70px;
  margin-right: 70px;
}

.p-registor__btn {
  text-align: center;
  margin-top: 40px;
}

.p-session {
  width: 100%;
  background-color: #141414;
}

.p-session__body {
  padding-top: 5px;
}

.p-session__table {
  width: 100%;
  border-collapse: collapse;
}

.p-session__table th, td {
  padding: 42px 0;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #d136d1;
}

.p-session__table th {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 42px 35px;
}

.p-session__table td {
  padding-left: 70px;
}

.p-session__table h3 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #d136d1;
  margin-bottom: 16px;
}

.p-session__table p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.p-speaker {
  width: 100%;
  background: linear-gradient(135deg, #0f002e 0%, #1e092b 23%, #320c65 49%, #a01b7c 80%, #c21780 100%);
  padding-top: 113px;
}

.p-speaker__card:not(:last-child) {
  margin-bottom: 60px;
}

.u-sp-only {
  display: none;
}

@media screen and (max-width: 1140px) {
  html {
    font-size: 62.5%;
  }
  .p-registor__form {
    margin: 0;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 62.5%;
  }
  .l-header {
    display: block;
  }
  .l-footer {
    padding: 50px 0;
  }
  .c-sectionTtl {
    font-size: 4rem;
  }
  .c-sectionTtl__sub {
    font-size: 1.8rem;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .c-form {
    padding: 60px 20px;
  }
  .c-form__textarea {
    width: 100%;
  }
  .c-pageTop {
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
  }
  .c-pageTop__icon {
    padding: 10px;
  }
  .p-about__inner {
    display: block;
  }
  .p-about__imgWrapper {
    width: 100%;
    height: 150px;
  }
  .p-about__img {
    width: 100%;
    height: 100%;
    -o-object-position: 50% 37%;
       object-position: 50% 37%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .l-header {
    height: 74px;
  }
  .l-header__logo {
    margin: 10px 20px;
  }
  .c-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .c-section__heading {
    margin-bottom: 40px;
  }
  .l-wrapper {
    margin: 0 20px;
    padding: 0 40px;
  }
  .c-btn {
    width: 180px;
    font-size: 1.6em;
    padding: 18px;
  }
  .c-card {
    display: block;
  }
  .c-card__ttl {
    font-size: 2.6rem;
  }
  .c-card__ttlJp {
    font-size: 1.6rem;
  }
  .c-card__txt {
    font-size: 1.2rem;
  }
  .c-card__imgWrapper {
    width: 100px;
    float: right;
  }
  .c-card__img {
    height: 100px;
  }
  .c-form__ttl {
    font-size: 1.4rem;
  }
  .c-form__radio {
    font-size: 1.4rem;
  }
  .c-form__input,
.c-form__textarea {
    font-size: 1.4rem;
    padding-left: 14px;
  }
  .c-form__input {
    width: 100%;
  }
  .c-form__textarea {
    font-size: 1.4rem;
  }
  .c-form__select {
    width: 100%;
    font-size: 1.4rem;
    padding-left: 14px;
  }
  .c-nav__list {
    margin-top: 20px;
  }
  .c-nav__item {
    margin-right: 20px;
  }
  .c-nav__link {
    font-size: 1.2em;
  }
  .p-about__imgWrapper {
    height: 100px;
  }
  .p-about__content {
    padding-top: 20px;
    padding-left: 0;
  }
  .p-about__ttlLabel {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  .p-about__ttl {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .p-about__txt {
    font-size: 1.6rem;
  }
  .p-about__btn {
    text-align: center;
  }
  .p-mv__inner {
    height: 450px;
    background-position: right -90px bottom;
    background-size: contain;
    margin: 0;
    padding: 0 20px;
  }
  .p-mv__ttlArea {
    margin-top: 90px;
    margin-left: 15px;
  }
  .p-mv__subTtl {
    font-size: 1.6rem;
  }
  .p-mv__ttl {
    padding-top: 10px;
  }
  .p-mv__ttl::after {
    width: 163px;
    height: 34px;
    right: 20px;
    bottom: -30px;
  }
  .p-mv-date {
    font-size: 2rem;
  }
  .p-mv__speaker {
    right: 20px;
  }
  .p-mv__speakerName {
    font-size: 1.8rem;
  }
  .p-mv__speakerName--small {
    font-size: 1.4rem;
  }
  .p-session__table th, td {
    padding: 20px;
  }
  .p-session__table th {
    width: 80px;
    font-size: 1.6rem;
    padding-left: 0;
  }
  .p-session__table td {
    padding-left: 0;
  }
  .p-session__table h3 {
    font-size: 1.6rem;
  }
  .p-session__table p {
    font-size: 1.2rem;
  }
  .u-sp-only {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */